{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enhancing Customer Experience: The Future of Online Clothing Try-On</title>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"> -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <style>
      
  nav {
    background-color: #1e3d59  !important;
  }
  footer {
    background-color: #1e3d59  !important;
  }
  .hell {
    background-color: #1e3d59  !important;
  }
  
      
    </style>
    <!-- <link rel="stylesheet" href="{% static 'style.css' %}"> -->
    {% block css %}
    {% endblock %}
    
    


    



</head>
<body>
    
    <ul id="mobile-nav" class="sidenav">
        <li><a href="/book">Books</a></li>
        <li><a href="/">Collection</a></li>
        <li><a href="/">About Us</a></li>
        <li><a href="/contact">ContactUs</a></li> {% if user.is_authenticated %} <a
            class="black white-text waves-effect waves-light btn" style="margin-left: 27px; margin-top: 7px;"
            href="/signup/logout?next={{ request.path_info }}">LOGOUT</a> {% else %} <a
            class="black white-text waves-effect waves-light btn" style="margin-left: 27px; margin-top: 7px;"
            href="/auth/signup?next={{ request.path_info }}">SIGN IN</a> {% endif %}
    </ul> {% block start %} {% endblock %}<section>

        
        
    </section>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://kit.fontawesome.com/9478bf204b.js" crossorigin="anonymous"></script>
    <script>$(document).ready(function () { $(".sidenav").sidenav(); $(".dropdown-trigger").dropdown(); });</script> 
    <!-- <script src="{% static 'js/init.js'%}"></script> -->
    <!-- Footer -->
    {% block js %}
        {% endblock %}
</body>
</html>
